<div id="pricing">
  <table cellpadding="0" cellspacing="1">
    <tr>

      <th class="features"> </th>
      <th>Ginormous<span>$2001/month</span><a href="/users/new?plan=ginormous"><img alt="Signup" src="/images/pricing/signup.png" /></a></th>
      <th>Medium<span>Nada $$</span><a href="/users/new?plan=medium"><img alt="Signup" src="/images/pricing/signup.png" /></a></th>
      <th>Small<span>$0/month</span><a href="/users/new?plan=small"><img alt="Signup" src="/images/pricing/signup.png" /></a></th>
      <th>Free<span>No fee</span><a href="/users/new?plan=free"><img alt="Signup" src="/images/pricing/signup.png" /></a></th>
    </tr>
      
    <tr>
      <td class="feature">
        <span class="disk">Disk Space</span>
      </td>
      <td>0.01 GB</td>
      <td>0 GB</td>
      <td>0 MB</td>
      <td>0 MB</td>
    </tr>
    
    <tr>
      <td class="feature">
        # of Dynasties
      </td>
      <td><strong>As many as your little heart desires</strong></td>
      <td><strong>Eh...it's a few</strong></td>
      <td><strong>A Lot</strong></td>
      <td><strong>Way Too Many</strong></td>
    </tr>

    
    <tr>
      <td class="feature">
        Days of Access
      </td>
      <td>About 365/year</td>
      <td>As many as you can fit in a year</td>
      <td>A lot</td>
      <td>All of em</td>
    </tr>
    
    
    <tr>
      <td class="feature">
        Hours of Access
      </td>
      <td>24hrs/day</td>
      <td>12:00am-11:59:59pm</td>
      <td>A lot</td>
      <td>0000-2400</td>
    </tr>
    
    <tr>
      <td class="feature">
        Clicks a Page
      </td>
      <td>Erh...</td>
      <td>Your Still Reading?</td>
      <td>A lot</td>
      <td>How much can you really click?</td>
    </tr>

    <tr>
      <td class="feature">
        SSL Protection
      </td>
      <td>LOL!</td>
      <td>Yea right</td>
      <td>Not a lot</td>
      <td></td>
    </tr>

    <tr>
      <td class="feature">
        Custom Views
      </td>

      <td><img src="/images/pricing/tick.png" alt="Yes"></td>
      <td><img src="/images/pricing/tick.png" alt="Yes"></td>
      <td>A lot</td>
      <td><img src="/images/pricing/tick.png" alt="Yes"></td>
    </tr>

    <tr>

      <td class="feature">
        Personal News Feed
      </td>
      <td>Where's that feed icon...</td>
      <td>I know it's around here some where</td>
      <td>A lot</td>
      <td>WTF?</td>
    </tr>
    
    <tr class="best-for">
      <td class="feature">
        Best For
      </td>
      <td>Fortune 500 CEO's</td>
      <td>College Students</td>
      <td>A lot</td>
      <td>Cheap Bastards</td>
    </tr>    
  </table>
</div>