<div class="yui-gc">
	<div class="yui-u first">
		<div class="dynasty_box">
			<h2>About AViD<br />The Internet Dynasty Manager</h2>

			<h4>What is AViD?</h4>

			<p>AViD is a free online dynasty manager for the EA Sports video game series NCAA Football. 
				In NCAA Football you can play in dynasty mode, which allows a gamer to play multiple seasons of football with the same team, managing the rosters, avoiding probation, recruiting and playing your team's games. The more fanatical or particular gamers may be inclined to keep track of every conceivable aspect of their dynasties, including everything from game statistics to Top 25 polls. AViD is the place to do that.
			</p>
			
			<h4>What's it Cost?</h4>
			<p>I worked really, really hard to create a completely unique and never before seen on 100's of web 2.0 and Ruby on Rails type sites pricing table. Please read it very, very carefully.</p>
 		 	<p>If you really want to give me some money then first let me say Thank you.  You are a kind hearted, generous person and a saint.  Did I mention I think you're great?  You are. Click the DONATE button below.</p>
		</div>
		<div class="dynasty_box">
			<h2>Become a Subscriber</h2>
			<p>An Avid subscription is a $20.00/yr fee that gives you some added benefits.  The first is that the ads will not appear on Avid any longer.  The second is that when subscriber features are created and released you will have access to use them.  Subscriptions replace the old donate button.  There is no need to subscribe to use Avid's base feature set (everything currently on the site as of 07/29/09) so don't feel like you have to.  Those features will always be free to use.  If you would like to subscribe please enter your Avid username below and click subscibe. Using the email you registered with on Avid when you complete your payment on Paypal will also help me enable subscriber status for you. Thanks for your support.</p>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="7135791">
			<table>
			<tr><td><input type="hidden" name="on0" value="Avid Username">Avid Username</td></tr><tr><td><input type="text" name="os0" maxlength="60"></td></tr>
			</table>
			<div style="text-align: center;">
			<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</div>
			</form>
		</div>
		<div class="dynasty_box">
		<h3>Who Created AViD and Why go to all the trouble?</h3>

		<p>My name is Paul and I'm a dynasty fanatic. A while back I found a website called Utopia Football (now <a href="http://www.ncaastrategies.com/">NCAA Strategies</a>). The site's focus was—and still primarily is—college football and the NCAA Football series. One section of the site is a place where members can post about their exploits in dynasty mode. I quickly became deeply involved in this aspect of the game, creating a story-line for my dynasty thread, and weaving it around the games I would play in dynasty mode.</p>

		<p>Statistical reports are an important part of a dynasty thread, but it can be time-consuming to record, track, and compile the statistics, and to create statistics posts formatted for a forum site like Utopia. As I am a programmer—website programming specifically—I began to create a small database-driven site that allowed me to input stats, player info, and so forth, and would then spit out the data in pre-formatted reports ready to be posted on my Utopia dynasty thread. As I continued to work on the site, it evolved into something I figured would be very useful to my fellow dynasty writers on Utopia. That is, if it were polished up and fully developed. So I embarked on a mission that turned into AViD.</p>

		<h4>What about the other Dynasty Manager Websites out there?</h4>

		<p>What about them? They, like AViD, all have their pros and cons. Dynasty Manager, for instance, is a fairly full-featured site providing dynasty management for other sports video games as well as NCAA football. (Unlike AViD, it is fee-based.) It may be better suited to some users' needs than AViD, but is less tailored for the specific task of running NCAA dynasties on Utopia.</p>

		<p>The motivation for AViD was to make dynasty posts on Utopia easier for me and others to create, by providing formatted output for Utopia (or any other board employing vBulletin-type BBCode). The owner of Utopia, Kirk, had already created a dynasty tracker that was very popular with Utopians, yet it didn't have the ability to provide such output. The other features of Kirk's site, however, were extensively studied and copied at the beginning of AViD, and some of the forms still contain much of his code. Credit and thanks go to him for much of the early work. (Kirk, in turn, was inspired by Dynasty Central—a site that, like Dynasty Manager, serviced a variety of sports games, but was more limited and relied on users doing a lot of HTML on their own.)</p>

		<p>Besides the custom Utopia-ready content, my goal has been to make AViD as fully featured as possible.</p>

		<h3>Acknowledgements</h3>
		<p>All the above features are a lot for one person! Thankfully I've had a lot of help with testing early on.  The following Utopian Members were invaluable in helping me test the site early on, by using it for their dynasties during Alpha and Beta testing of AViD:</p>
		<ul>
		<li>Mr. Tennessee</li>
		<li>Fielding Blue</li>
		<li>dawg_gone</li>
		</ul>

		<p>Additionally, these members have lent their support more recently:</p>
		<ul>
		<li>JeffHCross</li>
		<li>srudoff</li>
		<li>rsump112</li>
		<li>WhoUTestin</li>
		<li>Plottydawg</li>
		<li>JackRyan</li>
		<li>borman_48</li>
		<li>jdubs01</li>
		<li>We Are SC</li>
		<li>TexAg</li>
		</ul>

		<p>Finally, a big thanks for my earliest User who has helped out with the Schools database and rosters for AViD:</p>
		<p>Mr. Tennessee, Thanks for your support and help from the absolute beginning.</p>

		<h4>Default Rosters:</h4>
		<p>2007 Rosters courtesy of renegade28 of Utopia. Very Huge thanks for supplying the roster file for NCAA 2008.</p>
		<p>2006 Rosters courtesy of Mr. Tennessee of Utopia and AViD.  Another huge thanks for the hard work on the 119 excel files for rosters.</p>

		<h4>Awards Images:</h4>
		<p>files provided by srudoff</p>

		<p>&nbsp;</p>
		<h5>This is officially version 4.0 of AViD.  The site has gone through two very large code redesigns and at least 4 GUI redesigns</h5>
		<h5>AViD is considered to be Beta software and as such still does not provide warranty for lost data or time due to bugs.  Who am I kidding, it probably never will because it is FREE!</h5>
		</div>
	</div>
	<div class="yui-u">
		<div class="dynasty_box">
			<h3>AViD Features:</h3>
			<ul>
			<li>All D1-A teams and D1-AA teams in the game</li>
			<li>Created Teams</li>
			<li>Default Rosters for NCAA 2007 and NCAA 2006</li>
			<li>Full game Statistic tracking including:
				<ul>
				<li>Game Statistics</li>
				<li>Scoring Summary and Scoring Drive Summaries</li>
				<li>Box Score with dynamic OT box creation</li>
				<li>Complete Player statistics</li>
				<li>Opponent player statistics for top performers</li>
				<li>Player of the Game</li>
				<li>Greatest Game Scores</li>
				<li>Freeform game report</li>
				</ul>
			</li>
			</ul>
			<h4>Schedules:</h4>
				<ul>
				<li>Conference Game</li>
				<li>Home/Away</li>
				<li>Rivalry game</li>
				<li>Coverage: Game of the Week, National Broadcast, Regional Broadcast</li>
				<li>Team and Opponent rankings</li>
				<li>Players of the Week</li>
				</ul>
			</ul>
			<h4>Roster Tracking</h4>
				<ul>
				<li>Automatically calculates the season totals for player statistics</li>
				<li>Ability to edit Season Stats if needed</li>
				<li>Recruiting</li>
				<li>Ratings</li>
				<li>Impact Player designation</li>
				<li>Left handed QB designation</li>
				<li>Career Overview</li>
				</ul>
		
			<h4>Recruiting Tracker</h4>
				<ul>
					<li>In-Season Recruiting</li>
					<li>Off-Season Recruiting</li>
					<li>Import Signed recruits into roster</li>
				</ul>
			<h4>Reporting:</h4>
				<ul>
				<li>Historical Game Statistic Reports</li>
				<li>Top performances by players</li>
				<li>Top Career/Season numbers for players</li>
				<li>Team statistic tracking</li>
				</ul>
			<h4>More...</h4>
			<ul>
			<li>Poll and Awards tracking (including pre-season and end-of-season)</li>
			<li>Offensive and Defensive Captain designations</li>
			<li>Top 25 Polls (Media, Coaches pre-season and final polls as well as BCS</li>
			<li>Full Awards tracking</li>
				<ul>
				<li>End of season Awards: Heisman, Maxwell, Walker, etc</li>
				<li>Preseason and Season All-Americans and All-Conference</li>
				</ul>
			</li>
			<li>Bowl Game Tracking and National Champion designation</li>
			<li>Full Off-Season Tracking</li>
			<li>Custom Views for posting stats and other data in bbcode format</li>
			<li>User friendly, and standards compliant (? well this is the ultimate goal ?)</li>
			<li>Works in Firefox, IE and most browsers without problem</li>
			<li>Features continue to be added and improved upon constantly</li>
			</ul>
		</div>
	</div>
</div>