<div id="pricing">
  <table cellpadding="0" cellspacing="1">
    <tr>

      <th class="features"> </th>
      <th>Mega<span>$100/month</span><a href="/signup/mega"><img alt="Signup" src="/images/modules/pricing/signup.png?d0d431159862aa542f5f145c3bbc3ce3af20ed17" /></a></th>
      <th>Large<span>$50/month</span><a href="/signup/large"><img alt="Signup" src="/images/modules/pricing/signup.png?d0d431159862aa542f5f145c3bbc3ce3af20ed17" /></a></th>
      <th>Medium<span>$22/month</span><a href="/signup/medium"><img alt="Signup" src="/images/modules/pricing/signup.png?d0d431159862aa542f5f145c3bbc3ce3af20ed17" /></a></th>
      <th>Small<span>$12/month</span><a href="/signup/small"><img alt="Signup" src="/images/modules/pricing/signup.png?d0d431159862aa542f5f145c3bbc3ce3af20ed17" /></a></th>

      <th>Micro<span>$7/month</span><a href="/signup/micro"><img alt="Signup" src="/images/modules/pricing/signup.png?d0d431159862aa542f5f145c3bbc3ce3af20ed17" /></a></th>
      <th>Free<span>No fee</span><a href="/signup/free"><img alt="Signup" src="/images/modules/pricing/signup.png?d0d431159862aa542f5f145c3bbc3ce3af20ed17" /></a></th>
    </tr>
      
    <tr>
      <td class="feature">
        <span class="disk">Disk Space</span>

        <span class="tip" title="The total amount of disk space your repositories may consume. :: A fork of another repository will use very little disk space, as all of the objects are initially shared.  We run `git gc` regularly to ensure that your repositories are packed as efficiently as possible."><img src="/images/icons/help.png" alt="help" /></span>
      </td>
      <td>10 GB</td>
      <td>3 GB</td>
      <td>1.2 GB</td>
      <td>600 MB</td>
      <td>300 MB</td>

      <td>100 MB</td>
    </tr>
    
    <tr>
      <td class="feature">
        Public Repos
        <span class="tip" title="The number of public repositories you may have at any given time. :: You are free to create and delete repositories as you please."><img src="/images/icons/help.png" alt="help" /></span>
      </td>
      <td><strong>Unlimited</strong></td>

      <td><strong>Unlimited</strong></td>
      <td><strong>Unlimited</strong></td>
      <td><strong>Unlimited</strong></td>
      <td><strong>Unlimited</strong></td>
      <td><strong>Unlimited</strong></td>
    </tr>

    
    <tr>
      <td class="feature">
        Public Collaborators
        <span class="tip" title="The total number of users who may read, write, and fork your public repositories. :: Collaborators may write, read, and fork your public repositories.  All public collaborator fork space usage goes against the collaborator's disk usage."><img src="/images/icons/help.png" alt="help" /></span>
      </td>
      <td>Unlimited</td>
      <td>Unlimited</td>
      <td>Unlimited</td>

      <td>Unlimited</td>
      <td>Unlimited</td>
      <td>Unlimited</td>
    </tr>
    
    
    <tr>
      <td class="feature">
        Private Repos
        <span class="tip" title="The number of non-public, non-forked repositories you may have at any given time. :: You are free to create and delete repositories as you please.  You may grant other users access to private repositories as collaborators."><img src="/images/icons/help.png" alt="help" /></span>

      </td>
      <td>125</td>
      <td>50</td>
      <td>20</td>
      <td>10</td>
      <td>5</td>

      <td>0</td>
    </tr>
    
    <tr>
      <td class="feature">
        Private Collaborators
        <span class="tip" title="The total number of users who may read, write, and fork your private repositories (not counting you). :: Collaborators may write, read, and fork your private repositories without needing their own paid plan.  All private collaborator fork space usage goes against your plan's disk usage."><img src="/images/icons/help.png" alt="help" /></span>
      </td>
      <td>60</td>

      <td>25</td>
      <td>10</td>
      <td>5</td>
      <td>1</td>
      <td>0</td>
    </tr>

    <tr>
      <td class="feature">
        SSL Protection
        <span class="tip" title="SSL is standard on all private repositories. :: Private repositories, wikis, and your account information are always protected by SSL so you know your code is secure."><img src="/images/icons/help.png" alt="help" /></span>
      </td>
      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>
      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>
      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>
      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>

      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>
      <td> </td>
    </tr>

    <tr>
      <td class="feature">
        Per-Project Wikis
        <span class="tip" title="Keep your documentation in one place. :: Each repository gets its own wiki.  Private repositories can be seen and edited by collaborators only."><img src="/images/icons/help.png" alt="help" /></span>
      </td>

      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>
      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>
      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>
      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>
      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>
      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>
    </tr>

    <tr>

      <td class="feature">
        Personal News Feed
        <span class="tip" title="Stay up to date. :: Watch people and projects you're interested in via the site or RSS.  Never miss a beat."><img src="/images/icons/help.png" alt="help" /></span>
      </td>
      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>
      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>
      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>
      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>
      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>

      <td><img src="/images/modules/pricing/tick.png" alt="Yes"></td>
    </tr>
    
    <tr class="best-for">
      <td class="feature">
        Best For
        <span class="tip" title="Not sure which plan you need? :: Scroll down to the frequently asked questions for more information on choosing an appropriate plan."><img src="/images/icons/help.png" alt="help" /></span>
      </td>
      <td>Large Companies</td>
      <td>Larger Development Shops</td>

      <td>Development Shops</td>
      <td>Small Companies</td>
      <td>Freelance Developers</td>
      <td>Open Source Hackers</td>
    </tr>    
  </table>

  <div id="pricing-faq">

    <h3>How do collaborators work?  Do they have to pay?</h3>
    <p>
      Collaborators are people you add to your private repositories.  A plan with one collaborator means you may have your own private repositories and add one other person to any or all of your private repositories.
    </p>
    <p>
      Collaborators may fork your private repositories without using up any of your private repository quota, and without needing their own paid plan.  Any space a collaborator's private repository uses goes against your plan's total amount of space.
    </p>
    
    <h3>Are my repositories secure?</h3>
    <p>

      Private repositories are only accessible through SSL and SSH.  We make every possible attempt to never transmit your data unencrypted.  That said, we take security very seriously: any security bugs found are our highest priority.
    </p>
    
    <h3>Are my repositories private?</h3>
    <p>
      Yes they are.  You retain all copyright and ownership of your data, as well.  Please see our <a href="http://github.com/site/terms">Terms of Service</a> and <a href="http://github.com/site/privacy">Privacy Policy</a> for more information.
    </p>

      
    
    <h3>Do you back up my repositories?</h3>
    <p>
      All repositories are hosted with <a href="http://engineyard.com/whatyouget">Engine Yard</a> on a redundant disk array and backed up nightly off-site to S3.
    </p>    
    
    <h3>I'm a solo freelance developer - which plan is right for me?</h3>
    <p>
      Many freelancers encourage their clients to purchase a <strong>Micro</strong> or <strong>Small</strong> plan.  The client can then add the freelancer as a collaborator and has the freedom to add a separate developer or designer as a collaborator (should the need arise).
    </p>

    
    <h3>We're a small development company - which plan is right for us?</h3>
    <p>
      Small development shops often choose to host client repositories on their own, company-based plan.  The development team then controls who has access to the repository from one central plan.
    </p>
    
    <p>
      As an example, the Err Free LLC development company has a <strong>Small</strong> 'errfree' account which they use to host client repositories and their own, in-house products.  Err Free employees are then added to the client and company repositories as collaborators, forking and pulling from there.
    </p>
    
    <p>

      Logical Awesome LLC, on the other hand, chooses not to use a company account.  Instead one founding member hosts the <strong>Small</strong> plan and all repositories.  Thanks to deploy keys and collaborators, this works quite well.
    </p>
    
    <h3>We're a massive company.  Do you have any bigger plans?</h3>
    <p>
      Contact us at <a href="mailto:support@github.com">support@github.com</a> to work something out.
    </p>

    
    <h3>Is this a commitment?</h3>
    <p>
      No, you can cancel or upgrade/downgrade your plan at any time.
    </p>
  </div>
  
  <h2>Questions?  Comments?  <a href="mailto:support@github.com">Email us</a> anytime.</h2>  
</div>
