<div class="dynasty_box error-page">
	<h2>Incomplete Pass <br /><span>Page Not Found</span></h2>
	<p>Woa!  That one almost went into the bleachers!</p>
	<p class="error">Sorry but I could not find the page you were looking for.</p>
	<h3><%= link_to "Go Back", get_from %></h3>
</div>

<div style="text-align: center;">
<%= image_tag "404.jpg", :size=>"280x280", :style=>"margin: 1em auto" %>
</div>
